body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  background: #a9d6e5;
}

.exterior-container {
  margin: 10px auto;
  max-width: 650px;
  background: white;
  border: 2px solid #01497c;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
}

form {
  text-align: left;
}

.search-field {
  font-size: 15px;
  padding: 10px;
  background: rgb(202, 240, 248, 0.5);
  border: none;
  border-radius: 5px;
  height: 40px;
}

.search-button {
  padding: 5px 15px;
  margin-left: 5px;
  height: 38px;
  color: #01497c;
  background: #a9d6e5;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 15px;
  transition: all 250ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
}

#date-time strong {
  font-size: 18px;
  color: #01497c;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #01497c;
  border-top: 0.5px solid #01497c;
  padding: 20px 10px;
}

.city-name {
  text-align: left;
  margin: 0;
  font-size: 50px;
  color: #01497c;
}

.city-details {
  text-align: left;
  margin: 0 0 0 5px;
  line-height: 25px;
  font-size: 17px;
  color: rgb(0, 0, 0, 0.7);
}

.city-details strong {
  color: #01497c;
}

.temperature-container {
  display: flex;
  justify-content: space-evenly;
}

.temperature-emoji {
  width: 80px;
  height: 80px;
}

.temperature-value {
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
  margin-top: 6px;
  color: #01497c;
}
.temperature-unit {
  font-size: 25px;
  font-weight: 500;
  margin-left: 3px;
  margin-top: 5px;
  color: #01497c;
}

.forecast-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0;
}

.days {
  border: 0.5px solid #01497c;
  border-radius: 10px;
  padding: 3.5px;
  font-size: 14px;
  line-height: 20px;
}

#forecast-list .forecast-day {
  font-weight: bold;
  color: #01497c;
}

#forecast-list .forecast-icon {
  width: 80px;
  height: 80px;
}

#forecast-list span {
  font-weight: bold;
}

#forecast-list .forecast-humidity {
  font-size: 12px;
}

#forecast-list .forecast-wind-speed {
  font-size: 12px;
}

#forecast-list strong {
  color: #01497c;
}

footer {
  text-align: center;
  font-size: 11px;
  color: black;
  opacity: 80%;
  border-top: 0.5px solid #01497c;
  padding: 8px 0 0 0;
}

footer a {
  text-decoration: none;
  transition: all 150ms ease;
  color: #01497c;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
