/* font-family: "Rajdhani", sans-serif; */
/* font-family: "Ubuntu", serif; */

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  background: #caf0f8;
}

.exterior-container {
  margin: 10px auto;
  max-width: 650px;
  background: white;
  border: 2px solid #0077b6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

form {
  text-align: left;
  border-bottom: 0.5px solid #0077b6;
  padding: 0 0 10px 0;
}

.search-field {
  font-size: 15px;
  padding: 10px;
  background: rgb(202, 240, 248, 0.5);
  border: none;
  border-radius: 5px;
  width: 40%;
  height: 40px;
}

.search-button {
  padding: 5px 15px;
  margin-left: 5px;
  height: 38px;
  color: #0077b6;
  background: #caf0f8;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 15px;
  transition: all 250ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
}

#date-time {
  display: block;
  margin-left: 550px;
  margin-bottom: 0;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.city-name {
  text-align: left;
  margin: 0;
  font-size: 40px;
  padding-bottom: 5px;
}

.city-details {
  text-align: left;
  margin: 0;
  line-height: 25px;
  color: rgb(0, 0, 0, 0.7);
}

.city-details strong {
  color: #0077b6;
}

.temperature-container {
  display: flex;
  justify-content: space-evenly;
}

.temperature-emoji {
  font-size: 25px;
  margin-top: 8px;
  margin-right: 5px;
}
.temperature-value {
  font-size: 50px;
  font-weight: 700;
}
.temperature-unit {
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
  margin-left: 3px;
}

.forecast-container {
  display: flex;
  justify-content: space-evenly;
  border-top: 0.5px solid #0077b6;
  padding: 10px 0;
}

.days {
  border: 0.5px solid #0077b6;
  border-radius: 10px;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 10px;
  color: black;
  opacity: 80%;
  border-top: 0.5px solid #0077b6;
  padding: 8px 0 0 0;
}

footer a {
  text-decoration: none;
  transition: all 150ms ease;
  color: black;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
